@import url(menu.css);
@import url(gallery.css);
@import url(media.css);


*{
  padding:0;
  border:0;
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #402A1D;
  margin: 0;
  padding: 0;
    
  cursor: url('Images/Cursor/Cursor.png'), default;
}

a {
    cursor: url('Images/Cursor/Pointer.png'), pointer;
}


/* Header */
.info {
  background-color: #402A1D;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px; 
  box-sizing: border-box;
  z-index: 1100;
}

.info p {
  color: #9E704F;
  font-size: 12px;
  padding-left: 10px;
  font-weight: bold;
}

.info a {
  display: flex;
  text-decoration: none;
  align-items: center;
  color: #9E704F;
  text-decoration: none;
  font-size: 13px;
}

.contact a {
  display: inline-block;
  color:  #9E704F;
  text-decoration: none;
  padding-right: 15px;
}

header.page {
  background-color: #9E704F;
  position: fixed;  
  top: 30px;        
  width: 100%;
  z-index: 1000;
  padding: 7px 50px;
  box-sizing: border-box;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-line {
  width: 100%;         
  height: 2px;
  background-color: #402A1D;    
}

header.page a {
  text-decoration: none;
  color: #402A1D;
  font-weight: bold;
  padding-left: 5px;
  padding-right: 5px;
}

nav a:hover {
  color: black;
  border-radius: 15px;
  transition: all 0.3s ease;
}





/* Main Image */
.main-img {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-top: 100px;
}


.main-img img {
  width: 100%;
  height: auto  ;        
  display: block;
}

.main-img h1 {
  position: absolute;
  top: 50%;             
  left: 50%;            
  transform: translate(-50%, -50%); 
  color: white;
  font-size: clamp(24px, 5vw, 60px);
  text-align: center;
  text-shadow: 2px 2px 5px black;
  margin: 0;
}

.main {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo-img {
  width: 70px;
  height: auto;
  padding-left: 15px;
}

/* About */
.about {
    background-color: #9E704F;
    padding: 100px;
}

.about-container {
    display: flex;
    align-items: center;
    gap: 50px;
    flex-direction: row-reverse; 
    justify-content: center;
}

.about-img {
  flex: 0 0 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-img img {
  width: 100%;
  max-width: 420px;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  display: block;
}

.about-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;  
}

.about-text p {
  margin-top: 50px;
  line-height: 1.5;
}


/* Best Seller */
.bestseller {
  background-color: #9E704F;
}

.bestseller h1 {
  font-size: 50px;
  font-weight: bold;
  text-decoration: none;
  color: #402A1D;
  padding: 30px 60px;
  display: inline-block;
}

.products {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: stretch;
  padding: 60px 80px;
  background-color: #402A1D;
  flex-wrap: nowrap;
}

.product {
  min-width: 200px;
  max-width: 360px;
  background-color: #967259;
  color: #402A1D;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.product:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 8px rgb(0, 0, 0.5)
}

.product img {
  width: 100%;
  height: auto; 
  border-radius: 10px;
  object-fit: cover;
  display: block;
  margin-bottom: 12px;
}

.product p {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  padding-top: 12px;
}


/* Gallery */
#gallery {
  background-color: #9E704F;
}

.gallery-title h1 {
  font-size: 50px;
  font-weight: bold;
  text-decoration: none;
  color: #402A1D;
  padding: 30px 60px;
  display: inline-block;
}

.gallery-see-more {
  background-color: #9E704F;
  text-align: center;
  padding: 25px 0 25px 0;
}

.gallery-see-more a {
  position: relative;
  text-decoration: none;
  color: #402A1D;
  border: 3px solid #402A1D;
  border-radius: 25px;
  padding: 5px 15px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.gallery-see-more a:after {
  content: " →";
  transition: 0.3s ease;
}

.gallery-see-more a:hover {
  background-color: #402A1D;
  color: white;
}

.gallery-see-more a:hover::after {
  margin-left: 8px;
}

/* Carousel */
.carousel {
  background-color: #402A1D;
}

.gallery-carousel {
  overflow: hidden;
  white-space: nowrap;
  padding: 60px;
}

.gallery-img {
  display: inline-block;
  animation: 60s slide infinite linear;
}

/* Base image styles */
.gallery-img img {
  display: inline-block;
  height: 300px;
  width: 300px;
  margin: 0 10px;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

/* Scale effect on hover */
.gallery-img img:hover {
  transform: scale(1.1);
  z-index: 10;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/* Footer */

.footer-img {
  display: flex;
}

.footer-img img{
  display: block;
  width: 150px;
  height: auto;
  padding: 25px;
  margin-right: 50px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px 60px;
  background-color: #402A1D;
  color: #D3D3D3;
}

.footer-column {
  flex: 1;
  min-width: 200px;
  margin: 0 20px;
}

.footer-column h3 {
  font-size: 18px;
  margin-bottom: 15px;
  color: #fff;
}

.footer-column a {
  display: block;
  color: #D3D3D3;
  text-decoration: none;
  margin-bottom: 10px;
  font-size: 14px;
}

.footer-column a i {
  margin-right: 8px;
}

.footer-column a:hover {
  color: #fff;
}

.info-column a:hover {
  color: #D3D3D3;
}

.copyright {
  text-align: left;
  color: #D3D3D3;
  font-size: 14px;
  padding-bottom: 20px;
  padding-left: 40px;
}


/* Line */
.footer-line {
  display: fixed;
  width: 95%;
  height: 2px;
  margin: 0 auto 20px auto;
  background-color: #D3D3D3;
}

.header-line {
  width: 100%;         
  height: 2px;
  background-color: #402A1D;    
}

.line {
  width:100%;
  height: 2px;
  background-color: #402A1D;
}

.fade {
  opacity: 0;
  transition: all 1s;
  filter: blur(3px);
  transform: translateX(-100%);
}

.fade.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}